/* Global Styles */

/* Body */

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Inter";

    --text: #ebeef1;
    --background: #0d141a;
    --background-alt: #1f1f1f;
    --background-translucent: #1f1f1f99;
    --primary: #92b9d9;
    --secondary: #205b8a;
    --accent: #3395e3;

    margin: 15px;

    transition: all 200ms ease;
}


/* Links */

a {
    color: var(--text);
    transition: color 180ms ease, transform 180ms ease;
}

a:hover {
    color: var(--secondary);
    transform: scale(1.2);
    transition: color 180ms ease, transform 180ms ease;
}


/* Buttons */

button {
    background-color: var(--secondary);
    color: var(--text);

    font-size: 16px;
    font-family: "Inter";

    border: none;
    width: 100%;
    
    padding: 10px;
    border-radius: 20px;

    cursor: pointer;
    transition: background-color 180ms ease, transform 180ms ease;
}

button:hover {
    background-color: var(--primary);
    transform: scale(1.05);
    transition: background-color 180ms ease, transform 180ms ease;
}


/* Code Snippets */

code {
    font-family: "Source Code Pro", monospace;
    background-color: var(--background-alt);
    padding: 2px 4px;
    border-radius: 4px;
}


/* Images */

img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 180ms ease;
}

img:hover {
    transform: scale(1.04);
    transition: transform 180ms ease;
}

@media (max-width: 400px) {
    img:hover {
        transform: scale(1.08);
    }
}


/* Headings */

h1, h2, h3 {
    font-family: "Special Gothic Expanded One";
    color: var(--primary);
}


/* Header */

header {
    top: 15px;
    left: 15px;
    right: 15px;

    padding: 10px 20px;
    border-radius: 30px;

    background-color: var(--background-translucent);
    backdrop-filter: blur(20px);

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

header .links {
    position: static;
    display: flex;
    gap: 12px;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
    transition: all 200ms ease;
}

@media (min-width: 600px) {
    header h1 {
        font-size: 32px;
        transition: all 200ms ease;
    }
}

@media (max-width: 350px) {
    header h1 {
        font-size: 18px;
        transition: all 200ms ease;
    }
}

header a {
    text-decoration: inherit;
    color: inherit;
}


/* Main Content */

main {
    position: relative;
    margin: 90px auto 90px;
    max-width: 1000px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media (min-width: 800px) {
    main {
        display: block;
        column-width: 350px;
        column-gap: 30px;
    }

    main .card {
        break-inside: avoid;
        margin-bottom: 30px;
    }

    main > :only-child {
        column-span: all;
    }

    .hero-card {
        column-span: all;
    }

    .span-all {
        column-span: all;
    }
}


/* Footer */

footer {
    bottom: 15px;
    left: 15px;
    right: 15px;

    padding: 10px;
    border-radius: 1000px;

    text-align: center;
    font-size: 14px;

    background-color: var(--background-translucent);
    backdrop-filter: blur(20px);
    position: fixed;
}
/* 67 */
footer a {
    color: var(--primary);
}


/* Lists */

ol {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
    margin-top: 0;
    margin-bottom: 15px;
}


/* Table */

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 12px 15px;
    border: 1px solid var(--background-alt);
}

th {
    background-color: var(--background-alt);
    color: var(--primary);
}


/* Light/Dark Mode */

.light-mode {
    --text: #121212;
    --background: #dbdbdb;
    --background-alt: #ffffff;
    --background-translucent: #ffffff99;
    --primary: #205b8a;
    --secondary: #92b9d9;
    --accent: #3395e3;
    transition: all 200ms ease;
}

.mode-switcher {
    cursor: pointer;
    transform: translateY(1px);
}

.mode-switcher span {
    font-size: 22px;
}


/* Cards */

.card {
    background-color: var(--background-translucent);
    backdrop-filter: blur(20px);
    border-radius: 30px;
    padding: 20px;
}

.card h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.card p {
    margin-top: 0px;
    margin-bottom: 15px;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

.card button {
    margin-top: 10px;
}


/* Hero Card */

.hero-card {
    background: linear-gradient(-45deg, var(--secondary), var(--primary), var(--secondary));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    color: white;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    margin-bottom: 30px;
}

.hero-card h1 {
    font-size: 2.5rem;
    margin: 0;
}

.hero-card p {
    font-size: 1rem;
    margin-top: 10px;
    color: #ffffff67;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}