/* beispiele/winkler/style.css */

body {
    /* background-image: linear-gradient(67deg, aqua, blue, fuchsia, lime, yellow); */
    background-image: url('winkler.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(5px);
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: white;
    margin: 0;
    margin-left: 20px;
}

h1, h2, h3 {
    color: red;
    padding-top: 20px;
}

img {
    border: 5px solid orange;
    max-width: 350px;
    margin: 20px auto;
    border-radius: 15px;
}

iframe {
    border: 5px solid lime;
    max-width: 350px;
    margin: 20px auto;
    border-radius: 15px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 1px;
    background-color: yellow;
    color: lime;
    width: 100%;
    bottom: 0;
}